[submodule "senate-psi-20110403-wall-street-and-the-financial-crisis"]
	path = psi-financial-crisis
	url = https://github.com/official-inquiries/senate-psi-20110403-wall-street-and-the-financial-crisis.git
[submodule "uk-parliament-20160706-iraq-inquiry"]
	path = iraq-inquiry
	url = https://github.com/official-inquiries/uk-parliament-20160706-iraq-inquiry
[submodule "enron-report"]
	path = enron-report
	url = https://github.com/official-inquiries/us-enron-report.git
	branch = gh-pages
[submodule "iraq-inquiry"]
	branch = gh-pages
[submodule "psi-financial-crisis"]
	branch = gh-pages
