[submodule "senate-psi-20110403-wall-street-and-the-financial-crisis"]
	path = senate-psi-20110403-wall-street-and-the-financial-crisis
	url = https://github.com/official-inquiries/senate-psi-20110403-wall-street-and-the-financial-crisis.git
